@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("http://fonts.cdnfonts.com/css/gotham");

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "poppins" !important;
  transition: all 0.25s linear;
  text-decoration: none !important;
}

.h3,
h3 {
  font-weight: 520 !important;
  font-size: 20px !important;
  line-height: 30px !important;
}

h2,
.h2 {
  font-weight: 520 !important;
  font-size: 24px !important;
  line-height: 36px !important;
}

h1,
.h1 {
  font-weight: 520 !important;
  font-size: 28px !important;
  line-height: 42px !important;
}

.p1-regular {
  font-size: 16px;
  line-height: 26px;
}
.p1-bold {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.p2-regular {
  font-size: 14px;
  line-height: 21px;
}
.p2-bold {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.p3-regular {
  font-size: 12px;
  line-height: 18px;
}
.p3-bold {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.p4-regular {
  font-size: 10px;
  line-height: 15px;
}
.p4-bold {
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
}

.min-vh-70 {
  min-height: 50vh;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.para-1 {
  font-size: 16px;
  line-height: 26px;
}

.social-icons {
  width: 20px;
  height: 20px;
  margin: 8px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 30px;

  position: static;
  width: 145px;
  height: 45px;
  left: 155px;
  top: 0px;

  border-radius: 10px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.rounded-2 {
  border-radius: 20px !important;
}

.rounded-2-top {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.rounded-2-bottom {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.ht-25 {
  height: 250px !important;
}

.search {
  margin-right: -10px;
}

.nav-tabs {
  border: none !important;
}

.modal-content {
  border-radius: 20px !important;
}

@media (max-width: 576px) {
  .modal-dialog-centered {
    align-items: end !important;
  }
}

.btn-primary:hover {
  box-shadow: 0 0 0 0.25rem #da18a37c !important;
  border-color: #da18a3 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem #da18a37c !important;
  border-color: #da18a3 !important;
}

.btn-primary {
  border-color: #da18a3;
  color: #fff !important;
  background: linear-gradient(
    101.12deg,
    #eb1484 27.35%,
    #c91cc3 99.99%,
    #c81cc5 100%,
    #c81cc5 100%
  ) !important;
}

.btn-outline-primary {
  border-color: #da18a3;
  color: #da18a3 !important;
  font-weight: 510;
}

.btn-outline-primary:hover {
  box-shadow: 0 0 0 0.25rem #da18a37c !important;
  border-color: #da18a3 !important;
  color: #fff !important;
  background: linear-gradient(
    101.12deg,
    #eb1484 27.35%,
    #c91cc3 99.99%,
    #c81cc5 100%,
    #c81cc5 100%
  ) !important;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem #da18a37c !important;
  border-color: #da18a3 !important;
  color: #fff !important;
  background: linear-gradient(
    101.12deg,
    #eb1484 27.35%,
    #c91cc3 99.99%,
    #c81cc5 100%,
    #c81cc5 100%
  ) !important;
}
